body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    cursor: auto;
}

.waiting {
    cursor: wait !important;
}

main {
    flex: 1 0 auto;
}

.blue.darken-3 {
    font-family: sans-serif;
    white-space: nowrap;
    font-size: medium;
    text-transform: initial;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #1976D2 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1976D2 !important;
    box-shadow: 0 1px 0 0 #1976D2 !important;
}

.prefix.active {
    color: #1976D2 !important;
}